default: &default
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  adapter: mysql2
  username: root
  password:
  host: localhost
  # database: ajax_app_development
  database: furima-39258_development

test:
  <<: *default
  adapter: mysql2
  username: root
  password:
  host: localhost
  # database: ajax_app_test
  database: furima-39258_test

production:
  <<: *default
  adapter: postgresql
  url: <%= ENV['DATABASE_URL'] %>


##########################################
### comment to deploy by render 20230502
##########################################
# default: &default
#   adapter: mysql2
#   encoding: utf8
#   pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
#   username: root
#   password:
#   socket: /tmp/mysql.sock

# development:
#   <<: *default
#   database: furima_39258_development

# test:
#   <<: *default
#   database: furima_39258_test

# production:
#   <<: *default
#   database: furima_39258_production
#   username: furima_39258
#   password: <%= ENV['FURIMA_39258_DATABASE_PASSWORD'] %>
